---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trap Gallery">
  <main>
    <div class="gallery"></div>
  </main>
</Layout>

<style is:global>
  #gallery {
    border: 1px solid #1c1d20;
    background: #1a1a1a63;
  }

  [data-tooltip]:hover:before {
    transform: translate(-40%, 100%);
  }
</style>
<style is:global>
  main {
    margin-top: 90px;
  }

  .gallery {
    line-height: 0;
    column-count: 5;
    column-gap: 0;
  }

  .gallery_img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    .gallery {
      column-count: 2;
    }
  }
</style>

<script>
  const images: string[] = [];

  async function fetchImages() {
    for (let i = 0; i < 50; i++) {
      const res = await fetch("https://api.waifu.pics/nsfw/trap");
      const data = await res.json();
      images.push(data.url);
      render(i);
    }
  }

  function render(index: number) {
    const gallery = document.querySelector(".gallery");
    if (gallery) {
      const div = document.createElement("div");
      div.classList.add("pic");
      const img = document.createElement("img");
      img.classList.add("gallery_img");
      img.src = images[index];
      img.alt = `Trap ${index + 1}`;
      img.loading = "lazy";
      div.appendChild(img);
      gallery.appendChild(div);
    }
  }

  fetchImages();
</script>
